@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


/*Typing animation*/

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 15rem }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff }
  }

  .typewriter h1 {
    color: #000;
    font-family: 'Architects Daughter', 'sans-serif';
    font-size: 3em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 2px solid rgba(255,255,255,.75); /* The typwriter cursor */
    padding-bottom: 10px;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .45em; /* Adjust as needed */
    text-align: center;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  

/* parallax */

.parallax {
    /* The image used */
    background-image: url("../imgs/profile.png");
  
    /* Set a specific height */
    height: 500px;
    max-width: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* overall styling */
*:focus {
    border: 2px solid #000;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Architects Daughter', sans-serif;
    margin: 0 auto;
    font-size: 1em;
}

header {
    background-image: url('../imgs/Shadow_Isles.jpg');
    background-size: fixed;
    border-bottom: 3px solid rgb(31, 97, 50);
    padding: 15px;
    display: flex;
    align-content: center;
    justify-content: center;

}

header > nav {
    padding: 20px;
}

nav ul {
    background-color: #000;
    align-content: center;
    justify-content: center;
}

nav ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    font-family: 'Syne Mono', 'sans-serif';
    padding: 5px;
    color: #fff;
    align-content: center;
    justify-content: center;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.current {
    font-size: 30px;
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.ign {
    margin: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

main {
    padding-left: 40px;
    padding-right: 40px;
}

p {
    padding: 15px;
}

ul {
    list-style-type: none;
}

footer ul {
    display: grid;
    justify-content: center;
}

footer p {
    font-size: 18px;
    text-align: center;
    padding: 15px 0px;
}

.footer-item {
    padding-left: 20px;
    padding-right: 20px;
    grid-row: 1 / -1;
}

.web-icon {
    width: 70px;
    height: auto;
}


a.skip {
    background: #fff;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    -o-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    top:10px;
    color: #000;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
}

/* gallery container*/

.container {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
}

.flip-card {
    background-color: #fff;
    width: 300px;
    height: 165px;
    margin: 15px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:focus .flip-card-inner {
    transform: rotateX(180deg);
}

/* hover state */
.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #000;
    color: #fff;
}

.flip-card-back {
    background-color: rgb(31, 97, 50);
    color: #fff;
    transform: rotateX(180deg);
    vertical-align: middle;
    line-height: normal;
}

.flip-card-back h1, .flip-card-back p {
    padding-top: 40px;
}

.flip-play-card img {
    width: 300px;
    height: auto;
    background-color: #2a2a2a;
    background-size: 100%;
}

#heading {
    font-family: 'Architects Daughter', 'sans-serif';
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 2rem;
    text-align: center;
}
/* form */

#contact_header {
    font-size: 1.3rem;
    text-decoration: underline;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

fieldset{
    padding: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

button {
    padding: 20px;
    outline: none;
    color: #000;
    position: center;
    justify-content: center;
}

fieldset > input[type="submit" i] {
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(31, 97, 50);
}

/* reduced motion */
@media (prefers-reduced-motion: reduce) {
    .typewriter h1 {
        animation: none;
    }
  }

/* Grid for esports and season 10 pages */

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: img; }

  .grid_container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'img img img img img img';
    grid-gap: 10px;
    padding: 10px;
  }

  .grid_container h1 {
      text-decoration: underline;
  }

  .grid_container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 1em;
  }

  .item3 > img {
    object-fit: cover;
    max-width: 100%;
  }

@media screen and (min-width: 750px) { 
    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        padding: 10px;
    }

    .container {
        grid-template-columns: repeat(2, auto);
    }
    /* Hide the last flip-card to make it an even 2 by 2 column */
    #pyke.flip-card{
        display: none;
    }

    #esports.grid_container{
        grid-template-areas:
        'header header header header header header'
        'img img img main main main'
        'img img img main main main';
    }
/* not working currently*/
    #esports.grid_container.item2{
        align-self: center;
    }

    .grid_container p{
        font-size: 20px;
    }

    .grid_container h1{
        font-size: 30px;
    }

    .grid_container h2{
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) { 
    header {
        justify-content: flex-start;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    .container {
        grid-template-columns: repeat(3, auto);
    }

    #pyke.flip-card{
        display: initial;
    }

    #esports.grid_container{
        grid-template-areas:
        'header header header header header header'
        'img img img img img img'
        'main main main main main main';
    }

    .grid_container p{
        font-size: 25px;
    }

    .grid_container h1{
        font-size: 35px;
    }

    .grid_container h2{
        font-size: 30px;
    }
}
